html,
body {
    background-color: black;
    margin-left: 0;

}

#LPh1 {
    color: grey;
    font-size: 6em;
    background-color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0px;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 7px;
}

h1 {
    color: grey;
    font-size: 4em;
    background-color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0px;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 7px;
}

.LandingPage {
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftTrape {
    width: 200vw;
    height: 70vh;
    background: rgba(66, 67, 77, 0.3);
    transform: skew(1deg, 10deg);
    margin: 50px;
    box-shadow: 2px 2px 40px #fff;
    margin-bottom: 1vh;
    color: lawngreen;
    font-size: 17rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

small {
    font-size: 3rem;
}

.middleSqaure {
    width: 200vw;
    height: 70vh;
    background: url(https://www.formula1.com/content/dam/fom-website/manual/Misc/2021preseason/Mercedes2021Launch/M256866.jpg.transform/9col/image.jpg) no-repeat center;
    margin: 50px;
    margin-top: 10vh;
    margin-bottom: 11vh;
}

.rightTrape {
    width: 200vw;
    height: 70vh;
    background: rgba(66, 67, 77, 0.3);
    transform: skew(1deg, -10deg);
    margin: 50px;
    margin-bottom: 1vh;
    box-shadow: 2px 2px 40px #fff;
    color: lawngreen;
    font-size: 2em;
}


.CareerCarousel {
    height: 92%;
    width: 100% !important;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.EarlyLife {
    height: 90%;
    overflow: scroll;
}

#imgEL {
    width: 25vw;
    height: 40vh;
    border-radius: 50rem;
    margin-left: 37%;
}

.Karting {
    height: 90%;
    overflow: hidden;
}

#Kart {
    margin-left: 20%;
    height: 40vh;
    margin-top: 3vh;
    border-radius: 5px;
}

.FRandF3 {
    border: 5px solid crimson;
    height: 90%;
    overflow: scroll;
}

.Formula1 {
    height: 90%;
}

.CarouselF1 {
    height: 87%;
    width: 100%;
}

h2 {
    color: lawngreen;
    text-shadow: 0px 1px 1px #fff;
}

.Mclaren {
    border: 5px dashed orange;
    width: 100%;
    overflow: scroll;
}

.Mercedes {
    border: 5px dashed orange;
    border-top: none;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 3px;
    margin-bottom: 10vh;
}

h3 {
    color: lawngreen;
    text-shadow: 0px 1px 1px #fff;
}

.X44Page {
    height: 91vh;
    color: #fff;
}

#imgX44 {
    width: 55vw;
    height: 65vh;
    margin-left: 20vw;
    border-radius: 5px;
}

section {
    color: #fff;
}

::-webkit-scrollbar {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.Navbar {
    text-align: center;
    outline: grey;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-left: 0%;
}

#Link {
    margin: 3rem;
    font-size: 3em;
    color: lawngreen;
}

#Link:hover {
    box-shadow: 10px 10px 105px #fff;
    border-radius: 50px;
}


.f1Standings {
    justify-items: center;
    height: 90vh;
    overflow: scroll;
}

.driverTile {
    border: 5px solid green;
    background-color: rgb(53, 151, 53, 0.4);
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    padding-top: 20px;
    width: 80vw;
    margin: 7px auto;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

b {
    font-size: 1.5em;
}

.NavBarCareer {
    border: 5px solid red;
    width: fit-content;
    padding: 5px;
}
#tab{
    margin: 7px 7px;
    background-color: purple;
    color: #fff;
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
    b{
        font-size: 1em !important;
    }
    h4{
        font-size: 1em !important;
        margin-left: 1rem;
    }
    .driverTile{
        width: 91vw;
        height: 7vh;
    }
    .leftTrape {
        display: none;
    }

    small {
        display: none;
    }

    .rightTrape {
        display: none;
    }
    #Link{
        font-size: 1.8rem;
        margin: 0.3rem;
    }
    #LPh1{
        font-size: 5em;
    }
    #imgX44{
        height: 40vh;
        width: 100vw;
        margin-left: 0;
    }
    #imgEL{
        display: none;
    }
    #Kart{
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1600px) {
    #Kart {
        height: 60vh;
        width: 85vh;
        margin-left: 32%;
    }

    .Karting {
        overflow: scroll;
    }

    b{
        font-size: 1em !important;
    }
    h4{
        font-size: 1em !important;
    }
    .CareerCarousel {
        height: 89%;
    }

    .X44Page {
        height: 97vh;
        overflow: scroll;
    }
    #LPh1{
        font-size:4em;
    }
    .LandingPage{
        height:94vh;
    }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) and (min-height:826px) {
    .leftTrape {
        font-size: 26rem;
    }

    small {
        font-size: 4.5rem;
    }

    .rightTrape {
        font-size: 4rem;
    }
}






