html,
body {
    background-color: black;
    margin-left: 0;

}

#LPh1 {
    color: grey;
    font-size: 6em;
    background-color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0px;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 7px;
}

h1 {
    color: grey;
    font-size: 4em;
    background-color: black;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0px;
    text-shadow: 1px 1px 1px #fff;
    border-radius: 7px;
}

.LandingPage {
    /* border: 5px solid red; */
    text-align: center;
    /* background: url(https://ak.picdn.net/shutterstock/videos/9027736/thumb/1.jpg); */
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.container {
    /* border: 5px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.leftTrape {
    width: 200vw;
    height: 70vh;
    background: rgba(66, 67, 77, 0.3);
    transform: skew(1deg, 10deg);
    margin: 50px;
    box-shadow: 2px 2px 40px #fff;
    margin-bottom: 1vh;
    color: lawngreen;
    font-size: 17rem;
    overflow: hidden;
}

small {
    font-size: 1rem;
}

.middleSqaure {
    width: 200vw;
    height: 70vh;
    /* background: black; */
    background: url(https://www.formula1.com/content/dam/fom-website/manual/Misc/2021preseason/Mercedes2021Launch/M256866.jpg.transform/9col/image.jpg) no-repeat center;
    /* background-size: 100% 100%; */
    margin: 50px;
    margin-top: 10vh;
    margin-bottom: 11vh;
    /* box-shadow: 0px 0px 2px #fff; */
}

.rightTrape {
    width: 200vw;
    height: 70vh;
    background: rgba(66, 67, 77, 0.3);
    transform: skew(1deg, -10deg);
    margin: 50px;
    margin-bottom: 1vh;
    box-shadow: 2px 2px 40px #fff;
    color: lawngreen;
    font-size: 2em;
}


.CareerPage {
    /* border: 5px solid green; */
    height: 91vh;
}

.CareerCarousel {
    /* border: 5px solid gold; */
    height: 92%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.EarlyLife {
    /* border: 5px solid pink; */
    height: 90%;
    scroll-snap-align: start;
    overflow: scroll;
}

#imgEL {
    width: 25vw;
    height: 40vh;
    border-radius: 50rem;
    margin-left: 37%;
}

.Karting {
    border: 5px solid purple;
    height: 90%;
    scroll-snap-align: start;
    overflow: hidden;
}
#Kart{
    margin-left: 20%;
    height: 40vh;
    margin-top: 3vh;
    border-radius: 5px;
}
.FRandF3 {
    border: 5px solid crimson;
    height: 90%;
    scroll-snap-align: start;
    overflow: scroll;
}

.Formula1 {
    /* border: 5px solid grey; */
    height: 90%;
    scroll-snap-align: start;
}

.CarouselF1 {
    /* border: 5px dashed black; */
    height: 87%;
    width: 100%;
    display: flex;
    flex-direction: row;
    /* scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    overflow-x: scroll; */
    /* overflow: hidden; */
}

h2 {
    color: lawngreen;
    text-shadow: 0px 1px 1px #fff;
}

.Mclaren {
    border: 5px dashed orange;
    width: 100%;
    overflow: scroll;
}

.Mercedes {
    border: 5px dashed orange;
    border-left: none;
    width: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding: 3px;
}

h3 {
    color: lawngreen;
    text-shadow: 0px 1px 1px #fff;
}

.X44Page {
    /* border: 5px solid blue; */
    height: 91vh;
    color: #fff;
}

#imgX44 {
    width: 55vw;
    height: 65vh;
    margin-left: 20vw;
}

section {
    color: #fff;
}

::-webkit-scrollbar {
    /* width: 1rem; */
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.Navbar {
    /* border: 5px solid yellow; */
    text-align: center;
    outline: grey;
    position: fixed;
    bottom: 0;
    width: 100vw;
    margin-left: 0%;
    /* justify-content: space-evenly; */
    /* display: flex; */
}

#Link {
    margin: 3rem;
    font-size: 3em;
    color: lawngreen;
}

#Link:hover {
    box-shadow: 10px 10px 105px #fff;
    border-radius: 50px;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) and (max-width: 1600px) {
    #Kart{
        height: 60vh;
        width: 85vh;
        margin-left: 32%;
    }
    .Karting{
        overflow: scroll;
    }
    .leftTrape {
        /* font-size: 26rem; */
    }

    small {
        /* font-size: 2rem; */
    }

    .rightTrape {
        /* font-size: 4rem; */
    }
    .CareerCarousel{
        height:89%;
    }
    .X44Page{
        height:97vh;
        overflow:scroll;
    }
    #LPh1{
        font-size:4em;
    }
    .LandingPage{
        height:94vh;
    }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) and (min-height:826px) {
    .leftTrape {
        font-size: 26rem;
    }

    small {
        font-size: 2rem;
    }

    .rightTrape {
        font-size: 4rem;
    }
}


.f1Standings{
    /* border: 5px solid red; */
    justify-items: center;
    height: 90vh;
    overflow: scroll;
}
.driverTile{
    border: 5px solid green;
    background-color: rgb(53, 151, 53,0.4);
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 5vh;
    padding-top: 20px;
    width: 80vw;
    margin: 7px auto;
}

h4{
    /* color: #fff; */
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

b{
    font-size: 1.5em;
}
