.LandingPage{
    border: 5px solid red;
    text-align: center;
}
.container{
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.leftTrape{
    width: 200vw;
    height: 70vh;
    background: orange;
    transform: skew(1deg,10deg);
    margin: 50px;
    margin-bottom: 1vh;
}
.middleSqaure{
    width: 200vw;
    height: 70vh;
    background: orange;
    margin: 50px;
    margin-top: 10vh;
    margin-bottom: 1vh;
    
}
.rightTrape{
    width: 200vw;
    height: 70vh;
    background: orange;
    transform: skew(1deg,-10deg);
    margin: 50px;
    margin-bottom: 1vh;
}

.CareerPage{
    border: 5px solid green;
}

.X44Page{
    border: 5px solid blue;
}

.Navbar{
    border: 5px solid yellow;
    text-align: center;
    background-color: black;
    /* justify-content: space-evenly; */
    /* display: flex; */
}
#Link{
    margin: 3rem;
    font-size: 3em;
}
#Link:hover{
    box-shadow: 0px 0px 105px #fff;
}